/springbootdemo/.project
/springbootdemo/.settings
/springbootdemo/target
/springbootdemo/.classpath
/springbootdemo/.gitignore
/springmvcdemo/.project
/springmvcdemo/.settings
/springmvcdemo/target
/springmvcdemo/.classpath
/springmvcdemo/.gitignore
/sso/*.project
/sso/*
