<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjs1919.dao.ShoppingCartMapper">
  <resultMap id="BaseResultMap" type="com.xjs1919.domain.ShoppingCart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="dish_id" jdbcType="BIGINT" property="dishId" />
    <result column="setmeal_id" jdbcType="BIGINT" property="setmealId" />
    <result column="dish_flavor" jdbcType="VARCHAR" property="dishFlavor" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shopping_cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xjs1919.domain.ShoppingCart">
    insert into shopping_cart (id, name, image, 
      user_id, dish_id, setmeal_id, 
      dish_flavor, number, amount, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{dishId,jdbcType=BIGINT}, #{setmealId,jdbcType=BIGINT}, 
      #{dishFlavor,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xjs1919.domain.ShoppingCart">
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="dishId != null">
        dish_id,
      </if>
      <if test="setmealId != null">
        setmeal_id,
      </if>
      <if test="dishFlavor != null">
        dish_flavor,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="dishId != null">
        #{dishId,jdbcType=BIGINT},
      </if>
      <if test="setmealId != null">
        #{setmealId,jdbcType=BIGINT},
      </if>
      <if test="dishFlavor != null">
        #{dishFlavor,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjs1919.domain.ShoppingCart">
    update shopping_cart
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="dishId != null">
        dish_id = #{dishId,jdbcType=BIGINT},
      </if>
      <if test="setmealId != null">
        setmeal_id = #{setmealId,jdbcType=BIGINT},
      </if>
      <if test="dishFlavor != null">
        dish_flavor = #{dishFlavor,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjs1919.domain.ShoppingCart">
    update shopping_cart
    set name = #{name,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      dish_id = #{dishId,jdbcType=BIGINT},
      setmeal_id = #{setmealId,jdbcType=BIGINT},
      dish_flavor = #{dishFlavor,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.xjs1919.domain.ShoppingCart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="dish_id" jdbcType="BIGINT" property="dishId" />
    <result column="setmeal_id" jdbcType="BIGINT" property="setmealId" />
    <result column="dish_flavor" jdbcType="VARCHAR" property="dishFlavor" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shopping_cart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xjs1919.domain.ShoppingCart">
    insert into shopping_cart (id, name, image, 
      user_id, dish_id, setmeal_id, 
      dish_flavor, number, amount, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{dishId,jdbcType=BIGINT}, #{setmealId,jdbcType=BIGINT}, 
      #{dishFlavor,jdbcType=VARCHAR}, #{number,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xjs1919.domain.ShoppingCart">
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="dishId != null">
        dish_id,
      </if>
      <if test="setmealId != null">
        setmeal_id,
      </if>
      <if test="dishFlavor != null">
        dish_flavor,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="dishId != null">
        #{dishId,jdbcType=BIGINT},
      </if>
      <if test="setmealId != null">
        #{setmealId,jdbcType=BIGINT},
      </if>
      <if test="dishFlavor != null">
        #{dishFlavor,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjs1919.domain.ShoppingCart">
    update shopping_cart
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="dishId != null">
        dish_id = #{dishId,jdbcType=BIGINT},
      </if>
      <if test="setmealId != null">
        setmeal_id = #{setmealId,jdbcType=BIGINT},
      </if>
      <if test="dishFlavor != null">
        dish_flavor = #{dishFlavor,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjs1919.domain.ShoppingCart">
    update shopping_cart
    set name = #{name,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      dish_id = #{dishId,jdbcType=BIGINT},
      setmeal_id = #{setmealId,jdbcType=BIGINT},
      dish_flavor = #{dishFlavor,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>