<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.xjs.dameng.mapper.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.xjs.dameng.domain.Employee">
        <result column="department_id" property="departmentId" />
        <result column="employee_id" property="employeeId" />
        <result column="employee_name" property="employeeName" />
        <result column="hire_date" property="hireDate" />
        <result column="salary" property="salary" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from employee
    </select>

</mapper>
