<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"></properties>

    <settings>
        <setting name="logImpl" value="LOG4J2"/>
        <setting name="localCacheScope" value="STATEMENT" />
        <setting name="cacheEnabled" value="true" />
    </settings>

    <environments default="development">
        <environment id="development"><!--环境-->
            <transactionManager type="JDBC"/><!--事务管理器-->
            <dataSource type="POOLED"><!--数据源-->
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>

        <mapper resource="mapper/chapter_3_5/UserMapper.xml"/>
        <mapper resource="mapper/chapter_3_5/XxxMapper.xml"/>

    </mappers>

</configuration>