<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjs1919.mybatis.dao.ds1.UserMapper">

    <update id="update" parameterType="com.xjs1919.mybatis.domain.User">
        update users
        <set>
            <if test="name != null and name.length() > 0">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
        </set>
        where id = #{id}
    </update>

</mapper>